<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Successful!</title>
</head>
<body>
    <h1>You are now logged in.</h1>
	<p>You can now have access to your token and the resource if authorized. <br>To logout, get your token, get your resource, or  register a new user click the<br> <b>
	following links.<br></p>

    <br></br>
    <a href="{{ url_for('logout') }}">Logout</a><br>
    <a href="{{ url_for('get_auth_token') }}">Get Token</a><br>
    <a href="{{ url_for('get_resource') }}">Get Resource</a><br>
    <a href="{{ url_for('register_user') }}">Register</a><br>
    
</body>
</html>